<div class="comment">
    <div class="new-comment-window">
        <form>
            <input type="text" class="new-comment" placeholder="express yourself">
            <input type="text" class="email" placeholder="email">
        </form>
    </div>
    <div class="thread">
        <ul class="comment-thread">
            {{#each this as |post|}}

            {{/each}}
        </ul>

    </div>
</div>
